@page "/userRec"
<h3>UserRecomendation</h3>

<Card>
    <CardTitle>Budget Recomendation</CardTitle>
    

</Card>
<Card>
    <CardTitle>Overall Recomendation</CardTitle>
</Card>
<Card>
    <CardTitle>High-End Recomendation</CardTitle>
</Card>

@code {

}
